n8n/lakeshore-appraisal-workflow.json
{
  "name": "Lakeshore Appraisal - Website Form Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "appraisal-request",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "appraisal-request"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Form received' }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "name",
              "name": "name",
              "value": "={{ $json.body.name || '' }}",
              "type": "string"
            },
            {
              "id": "email",
              "name": "email",
              "value": "={{ $json.body.email || '' }}",
              "type": "string"
            },
            {
              "id": "phone",
              "name": "phone",
              "value": "={{ $json.body.phone || '' }}",
              "type": "string"
            },
            {
              "id": "property_address",
              "name": "property_address",
              "value": "={{ $json.body.property_address || '' }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.body.message || '' }}",
              "type": "string"
            },
            {
              "id": "appraisal_type",
              "name": "appraisal_type",
              "value": "={{ $json.body.appraisal_type || '' }}",
              "type": "string"
            },
            {
              "id": "source",
              "name": "source",
              "value": "={{ $json.body.source || 'website' }}",
              "type": "string"
            },
            {
              "id": "submitted_at",
              "name": "submitted_at",
              "value": "={{ new Date().toLocaleString('en-US', { timeZone: 'America/Detroit' }) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-data",
      "name": "Format Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 520]
    },
    {
      "parameters": {
        "sendTo": "robb@lakeshoreappraisal.com",
        "subject": "=New Appraisal Request from {{ $json.name }}",
        "emailType": "html",
        "html": "=<div style=\"font-family: Arial, Helvetica, sans-serif; max-width: 600px; margin: 0 auto; background-color: #f7f9fc; padding: 0;\">\n  <div style=\"background-color: #2C3E50; padding: 24px; text-align: center;\">\n    <h1 style=\"color: #ffffff; margin: 0; font-size: 22px; font-weight: 600; letter-spacing: 0.5px;\">LAKESHORE APPRAISAL</h1>\n    <p style=\"color: #4A90D9; margin: 4px 0 0 0; font-size: 12px; text-transform: uppercase; letter-spacing: 2px;\">New Appraisal Request</p>\n  </div>\n  <div style=\"background-color: #ffffff; padding: 28px 24px; border-left: 1px solid #e2e8f0; border-right: 1px solid #e2e8f0;\">\n    <p style=\"color: #4a5568; font-size: 15px; margin: 0 0 20px 0;\">A new inquiry was submitted from the website on <strong>{{ $json.submitted_at }}</strong>.</p>\n    <table style=\"width: 100%; border-collapse: collapse;\">\n      <tr>\n        <td colspan=\"2\" style=\"background-color: #4A90D9; color: #ffffff; padding: 8px 14px; font-size: 13px; font-weight: 600; text-transform: uppercase; letter-spacing: 1px; border-radius: 4px 4px 0 0;\">Contact Information</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px 14px; font-size: 14px; color: #718096; border-bottom: 1px solid #edf2f7; width: 140px;\">Name</td>\n        <td style=\"padding: 10px 14px; font-size: 14px; color: #2d3748; border-bottom: 1px solid #edf2f7; font-weight: 600;\">{{ $json.name }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px 14px; font-size: 14px; color: #718096; border-bottom: 1px solid #edf2f7;\">Email</td>\n        <td style=\"padding: 10px 14px; font-size: 14px; border-bottom: 1px solid #edf2f7;\"><a href=\"mailto:{{ $json.email }}\" style=\"color: #4A90D9; text-decoration: none;\">{{ $json.email }}</a></td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px 14px; font-size: 14px; color: #718096; border-bottom: 1px solid #edf2f7;\">Phone</td>\n        <td style=\"padding: 10px 14px; font-size: 14px; border-bottom: 1px solid #edf2f7;\"><a href=\"tel:{{ $json.phone }}\" style=\"color: #4A90D9; text-decoration: none;\">{{ $json.phone }}</a></td>\n      </tr>\n    </table>\n    <div style=\"height: 16px;\"></div>\n    <table style=\"width: 100%; border-collapse: collapse;\">\n      <tr>\n        <td colspan=\"2\" style=\"background-color: #C0392B; color: #ffffff; padding: 8px 14px; font-size: 13px; font-weight: 600; text-transform: uppercase; letter-spacing: 1px; border-radius: 4px 4px 0 0;\">Property Details</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px 14px; font-size: 14px; color: #718096; border-bottom: 1px solid #edf2f7; width: 140px;\">Address</td>\n        <td style=\"padding: 10px 14px; font-size: 14px; color: #2d3748; border-bottom: 1px solid #edf2f7; font-weight: 600;\">{{ $json.property_address || 'Not provided' }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px 14px; font-size: 14px; color: #718096; border-bottom: 1px solid #edf2f7;\">Appraisal Type</td>\n        <td style=\"padding: 10px 14px; font-size: 14px; color: #2d3748; border-bottom: 1px solid #edf2f7;\">{{ $json.appraisal_type || 'Not specified' }}</td>\n      </tr>\n    </table>\n    <div style=\"height: 16px;\"></div>\n    <div style=\"background-color: #f7f9fc; border-left: 3px solid #4A90D9; padding: 14px 16px; border-radius: 0 4px 4px 0;\">\n      <p style=\"font-size: 12px; color: #718096; text-transform: uppercase; letter-spacing: 1px; margin: 0 0 6px 0; font-weight: 600;\">Message</p>\n      <p style=\"font-size: 14px; color: #2d3748; margin: 0; line-height: 1.6;\">{{ $json.message || 'No message included' }}</p>\n    </div>\n  </div>\n  <div style=\"background-color: #2C3E50; padding: 16px 24px; text-align: center; border-radius: 0 0 4px 4px;\">\n    <p style=\"color: #a0aec0; font-size: 11px; margin: 0;\">Source: {{ $json.source }} &bull; Lakeshore Appraisal &bull; Southwest Michigan</p>\n  </div>\n</div>",
        "options": {
          "replyTo": "={{ $json.email }}"
        }
      },
      "id": "send-email",
      "name": "Send Email to Robert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [750, 400],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "Gmail SMTP"
        }
      }
    },
    {
      "parameters": {
        "from": "={{$credentials.twilioFromNumber}}",
        "to": "+12695984008",
        "message": "=New appraisal request\n{{ $json.name }}\n{{ $json.property_address || 'No address' }}\n{{ $json.phone }}"
      },
      "id": "send-sms",
      "name": "Send SMS to Robert",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [750, 600],
      "credentials": {
        "twilioApi": {
          "id": "REPLACE_WITH_TWILIO_CREDENTIAL_ID",
          "name": "Twilio"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rest.gohighlevel.com/v1/contacts/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"firstName\": \"{{ $json.name.split(' ')[0] || $json.name }}\",\n  \"lastName\": \"{{ $json.name.split(' ').slice(1).join(' ') || '' }}\",\n  \"email\": \"{{ $json.email }}\",\n  \"phone\": \"{{ $json.phone }}\",\n  \"address1\": \"{{ $json.property_address || '' }}\",\n  \"source\": \"Website Form\",\n  \"tags\": [\"website-lead\", \"{{ $json.appraisal_type || 'general' }}\"],\n  \"customField\": {\n    \"appraisal_type\": \"{{ $json.appraisal_type || '' }}\",\n    \"message\": \"{{ $json.message || '' }}\",\n    \"form_source\": \"{{ $json.source }}\"\n  }\n}",
        "options": {}
      },
      "id": "gohighlevel-create-contact",
      "name": "Create GoHighLevel Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 800],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_GHL_CREDENTIAL_ID",
          "name": "GoHighLevel API Key"
        }
      }
    },
    {
      "parameters": {},
      "id": "note-setup",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [250, 100],
      "notes": "SETUP INSTRUCTIONS:\n\n1. SMTP Credentials: Go to Credentials > Add > SMTP. Use Gmail (smtp.gmail.com:465, SSL) or your email provider.\n\n2. Twilio Credentials: Go to Credentials > Add > Twilio. Enter Account SID, Auth Token, and From Number.\n\n3. GoHighLevel: Go to Credentials > Add > Header Auth. Set header name to 'Authorization' and value to 'Bearer YOUR_GHL_API_KEY'.\n\n4. Activate the workflow and copy the webhook URL.\n\n5. Set VITE_N8N_WEBHOOK_URL in your .env file or update client/src/lib/webhook.ts with the URL."
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data": {
      "main": [
        [
          {
            "node": "Send Email to Robert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send SMS to Robert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create GoHighLevel Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Lakeshore Appraisal",
      "id": "1"
    }
  ],
  "triggerCount": 1,
  "versionId": "1"
}
